---
import AppLayout from "../layouts/AppLayout.astro"
---
<AppLayout>
    <style>
        div, div *{
            text-align: center;
            width: 100%;
        }

        #back{
            text-transform: uppercase;
            margin-top: 2rem;
        }

        #errorCode, #errorCode *{
            font-size: 2rem;
        }
    </style>
    <div>
        <p id="errorCode"><strong>500</strong></p>
        <p>Houve um erro interno, estamos verificando</p>
        <div id="back"><a href="/">Voltar para o início</a></div>
    </div>
</AppLayout>