---
import AppLayout from '../layouts/AppLayout.astro'
---
<AppLayout>
    <div class="bordered-container" style="border-width: 2px; padding: clamp(0.5rem, 3vw, 1rem);">
        <div class="bordered-container">
            <h1>Luiza M. S. Calderon</h1>
            <ul id="titles">
                <li>Fonoaudióloga (Crfª2-23919)</li>
                <li>Mestranda em Ciências da Saúde e Comunicação Humana (Unesp - Marília/SP)</li>
            </ul>
            <div class="divider">
                <span class="rule"></span>
                <span class="mark"></span>
                <span class="rule"></span>
            </div>
            <ul id="social">
                <li>
                    <a 
                        href="https://instagram.com/fono.luizacalderon" 
                        target="_blank" rel="noopener noreferrer"
                    >Instagram</a>
                </li>
                <li>
                    <a 
                        href="https://lattes.cnpq.br/3093458116906395" 
                        target="_blank" rel="noopener noreferrer"
                    >Lattes</a>
                </li>
                <li>
                    <a 
                        href="mailto:luizacalderon.fono@gmail.com" 
                        target="_blank" rel="noopener noreferrer"
                    >luizacalderon.fono@gmail.com</a>
                </li>
            </ul>
            <ul id="legal">
                <li><strong>Luiza Martins da Silveira Calderon</strong></li>
                <li><strong>60.298.663/0001-66</strong></li>
                <li>Marília - São Paulo</li>
            </ul>
            <p id="copy"><small>2026 &copy; Todos os direitos reservados.</small></p>
        </div>
    </div>
</AppLayout>
